* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #4d4d4d;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  padding: 10px;
  background: #ffffff;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.navigation__main__section {
  width: calc(100vw - 1200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__main__section__content {
  background: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  float: left;
  padding: 1px 1px;
}

.navigation__main__section__content input {
  color: #5f5f5f;
  border: none;
  height: 37px;
  padding: 10px 5px;
  width: 95%;
  font-size: 1.095rem;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}

.navigation__main__section__content > button svg {
  padding-top: 4px;
  margin-inline: 10px;
}

.navigation__main__section__container {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  border: 1px solid #4d4d4d;
  padding: 0px 4px;
  border-radius: 50%;
}

.navigation__main__section__container > button svg {
  padding-top: 5px;
}

.navigation__right__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__right__section button {
  margin-inline: 10px;
  aspect-ratio: 1;
  width: 37px;
  border-radius: 50%;
}

.navigation__icon {
  aspect-ratio: 1;
  width: 30px;
}

.button__icons {
  background: transparent;
  border: none;
}

.chips {
  width: calc(100vw - 13%);
  float: right;
  border-top: 1px solid grey;
  padding: 20px 25px;
  border-bottom: 1px solid grey;
  position: fixed;
  left: 240px;
  top: 62px;
  z-index: 99;
}

.chips__class {
  text-decoration: none;
  font-size: 0.859rem;
  color: black;
  background: #4d4d4d;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 20px;
}

.chips__active {
  background: black;
  color: #ffffff;
  font-weight: 600;
}

.section__aside {
  background: #382ab6;
  width: calc(100vw - 87%);
  position: fixed;
  top: 62px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 10px 0rem;
}

.section__aside span {
  color: whitesmoke;
  font-size: 0.9rem;
}

.section__aside hr {
  margin: 1rem 0rem;
}

.section__aside > .info {
  padding: 5px 15px;
}

.section__aside > .info > .info__content a {
  text-decoration: none;
  font-size: 0.821rem;
  color: #ffffff;
}

.section__aside > .trademark {
  -webkit-margin-start: 15px;
          margin-inline-start: 15px;
  padding: 5px 0px;
  font-weight: bold;
}

.section__aside .span__heading {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
  margin: 7px 0px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.section__aside__active {
  background: #5f5f5f;
}

.section__aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 0px;
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

.section__aside__content:hover {
  background: #5f5f5f;
  opacity: 0.85;
}

.section__aside__content__icons {
  aspect-ratio: 1;
  width: 30px;
}

.main {
  width: calc(100vw - 13%);
  float: right;
  position: relative;
  top: 125px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (minmax(370px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  padding: 1.2rem 2rem;
}

.main__cards {
  width: 370px;
  padding: 0.25rem;
}

.main__cards__img {
  background: greenyellow;
  height: 200px;
}

.main__cards__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-start: 0.1rem;
          margin-inline-start: 0.1rem;
  padding: 11px 0px;
}

.main__cards__info__profile > button {
  aspect-ratio: 1;
  width: 37px;
  border-radius: 50%;
}

.main__cards__info__text {
  margin: 0.2rem 0.7rem;
}

.main__cards__info__text > h6 {
  font-size: 1rem;
  color: #ffffff;
  line-height: 1.65rem;
}

.main__cards__info__text > p {
  font-size: 0.889rem;
}
/*# sourceMappingURL=styles.css.map */