// Language: scss

//
// Basic Modifying as per your requirement
//

// primary__colors
$chips: #e5e5e5;
$text__cards: #5f5f5f;
$white: #ffffff;
$black: #121212;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $chips;
}

body button {
  cursor: pointer;
}

// navbar

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 10px;
  background: $white;
  position: fixed;
  width: 100vw;
  z-index: 999;

  &__main__section {
    width: calc(100vw - 1200px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      background: $chips;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      float: left;
      padding: 1px 1px;
    }
    &__content input {
      // background: $black;
      color: $text__cards;
      border: none;
      height: 37px;
      padding: 10px 5px;
      width: 95%;
      font-size: 1.095rem;
      margin-inline-end: 5px;
      margin-inline-start: 1px;
    }
    &__content > button svg {
      padding-top: 4px;
      margin-inline: 10px;
    }
    &__container {
      margin-inline-start: 10px;
      border: 1px solid $chips;
      padding: 0px 4px;
      border-radius: 50%;
    }
    &__container > button svg {
      padding-top: 5px;
    }
  }

  &__right__section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__right__section button {
    margin-inline: 10px;
    aspect-ratio: 1;
    width: 37px;
    border-radius: 50%;
  }
  &__right__section .navigation__profile {
    background: $black;
    cursor: pointer;
  }
}
.navigation__icon {
  aspect-ratio: 1;
  width: 30px;
}

.button__icons {
  background: transparent;
  border: none;
}

.navigation img {
  cursor: pointer;
}

// chips bar-plate

.chips {
  width: calc(100vw - 13%);
  float: right;
  border-top: 1px solid grey;
  padding: 20px 25px;
  border-bottom: 1px solid grey;
  position: fixed;
  left: 240px;
  top: 62px;
  z-index: 99;
  background: $white;

  &__class {
    text-decoration: none;
    font-size: 0.859rem;
    color: $black;
    background: $chips;
    color: $black;
    padding: 10px 12px;
    border-radius: 20px;
  }
  &__active {
    background: $black;
    color: $white;
    font-weight: 600;
  }
}

// aside - section

.section__aside {
  background: $white;
  width: calc(100vw - 87%);
  position: fixed;
  top: 62px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 10px 0rem;

  & span {
    color: $black;
    font-size: 0.9rem;
  }
  & hr {
    margin: 1rem 0rem;
  }
  & > .info {
    padding: 5px 15px;
  }
  & > .info > .info__content a {
    text-decoration: none;
    font-size: 0.821rem;
    color: $text__cards;
  }
  & > .trademark {
    margin-inline-start: 15px;
    padding: 5px 0px;
    font-weight: bold;
    color: $text__cards;
  }
  & .span__heading {
    padding-inline-start: 15px;
    margin: 7px 0px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $text__cards;
  }
  &__active {
    font-weight: 600;
    background: rgb(218, 214, 214);
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 7px 0px;
    padding-inline-start: 15px;
    cursor: pointer;

    &:hover {
      background: rgb(231, 231, 231);
      opacity: 0.85;
    }
    &__icons {
      aspect-ratio: 1;
      width: 30px;
    }
  }
}

// main cards section

.main {
  width: calc(100vw - 13%);
  float: right;
  position: relative;
  top: 125px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 1rem 0rem;
  padding: 1.2rem 2rem;

  &__cards {
    width: 370px;
    padding: 0.25rem;
    cursor: pointer;

    &__img {
      background: $text__cards;
      height: 200px;
    }
    &__info {
      display: flex;
      margin-inline-start: 0.1rem;
      padding: 11px 0px;

      &__profile > button {
        aspect-ratio: 1;
        width: 37px;
        border-radius: 50%;
      }
      &__text {
        margin: 0.2rem 0.7rem;
      }

      &__text > h6 {
        font-size: 1rem;
        line-height: 1.65rem;
      }
      &__text > a {
        font-size: 0.889rem;
        text-decoration: none;
        color: $black;
      }
      &__text > p {
        font-size: 0.889rem;
      }
    }
  }
}
